* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body {
	width: 100%;
}

body {
	background-color: #221E22;
}

.navbar {
	font-size: ;
	font-weight: 700;
    letter-spacing: 0.10rem;
}

#topnav {
    transition: background-color 300ms;
}

#topnav.solid {
    background: rgba(0,0,0,0.9);
    transition: background-color 300ms;
}


.nav-item {
	text-transform: uppercase;
}

#burgerImg {
	font-size: 18px;
	color: #fff;
}

.navbar-brand img {
	max-width: 50px;
}

.navbar-nav {
	padding-right: ;
}

.nav-link{
	color: #fff;
}

.nav-link.active, .nav-link:hover {
	color: #F0712A;
}

/* .navbar {
	background: rgba(0, 0, 0, 0.5) !important;
	transition: background-color 1s ease 0s;
}
 */
.firstT {
	color: #F0712A;
}

/* End of Navigation */

/* Main Content */
.maincontent {
	
}

p {
	color:  #fff;
}

.jumbotron {
	height: 115vh !important;
	background: rgb(34,30,34);
	background: linear-gradient(180deg, rgba(15,17,12,0.6) 0%, rgba(15,17,12,1) 100%),
	   url(../images/aboutus3.jpg);
 	background-size: cover; 
	background-repeat: no-repeat; 
}

.container {
	margin-top: 7rem !important;
}

h1 {
	font-family: 'Crimson Text', sans-serif;
	color: #fff;
}

.aboutContent {
	
}

.about {
	font-family: 'Crimson Text', sans-serif;
}

.aboutIntro {
	color: #e5e5e5;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
}

.aboutValues {
	font-family: 'Montserat';
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 2px;
	color: #fff;
}

.afterValues {
	font-size: 20px;
	color: #8d99ae;
	max-width: 800px;
	margin: 0 auto;
}

.lightorange {
	color: #F08A26;
}

.footer {
	background-color: #ff4800;
} 

@media only screen and (min-width: 768px){
	.jumbotron {
		height: 96vh !important;
	}

	.afterValues {
		font-size: 26px;
		max-width: 800px;
	}

	.aboutValues {
		font-size: 40px;
		letter-spacing: 4px;
	}

	.aboutIntro {
		font-size: 19px;
		letter-spacing: 1.5px;
	}
}

@media only screen and (max-width: 767px) {
    .footercopyright {
        font-size: 12px;
		padding: 0;
		
	}
	
	.jumbotron {
		height: 100vh !important;
	}
}
@media only screen and (max-width: 374px) {
	.jumbotron {
		height: 140vh !important;
	}
}
