* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body {
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #0f110c; 
}

/* Navigation */
.navbar {
	font-size: ;
	font-weight: 700;
    letter-spacing: 0.10rem;
}


#topnav {
    background: rgba(0,0,0,1);
}


.nav-item {
	text-transform: uppercase;
}

#burgerImg {
	font-size: 18px;
	color: #fff;
}

.navbar-brand img {
	max-width: 50px;
}

.nav-link{
	color: #fff;
}

#topnav .nav-link.active, #topnav .nav-link:hover {
	color:  #ff4800;
}

/* .navbar {
	background: rgba(0, 0, 0, 0.5) !important;
	transition: background-color 1s ease 0s;
}
 */
.firstT {
	color:  #ff4800;
}

/* End of Navigation */
/* Contact Us */
.container-fluid {
    padding-top: 5rem;
    color: #fff;
    min-height: 95vh; 
}

.googleMap {
    width: 75%;
    height: 40vh;
}

i {
    color: #fff;
}

.btn:hover {
	letter-spacing: 1px;
	color: #ff4800;
    background-color: #fff; 
	transition: background-color 500ms;
}

.btn {
    /* background-color: #9D4EDD; */
    border: 1px solid #fff;
	padding: 5px;
    width: 100%;
    font-weight: 700;
	color: #fff;
    background-color: #fff; 
    background-color: #ff4800;
    text-transform: uppercase;
	transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0,0,0,.2);
    margin-top: 2rem;
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgb(0,0,0,.2);
}
/* End of Contact Us */

/* Modal */
.modal {
    color: #ff4800;
}
/* End of Modal */

/* Footer */
.footer {
    background-color: #ff4800;
    min-height: 5vh;
}   

.footer .nav-link:hover {
    color: #fff;
}
/* End of Footer */

@media only screen and (max-width: 767px) {
    .footercopyright {
        font-size: 12px;
        padding: 0;
    }
}

@media only screen and (max-width: 960px){
    .secondCol {
        margin-top: 3rem;
    }
}