* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body {
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
	background-color: #0f110c;
}

/* Navigation */
.navbar {
	font-size: ;
	font-weight: 700;
    letter-spacing: 0.10rem;
}

#topnav {
    transition: background-color 300ms;
}

#topnav.solid {
    background: rgba(0,0,0,0.7);
    transition: background-color 300ms;
}


.nav-item {
	text-transform: uppercase;
}

#burgerImg {
	font-size: 18px;
	color: #fff;
}

.navbar-brand img {
	max-width: 50px;
}

.navbar-nav {
	padding-right: ;
}

.nav-link{
	color: #fff;
}

.nav-link.active, .nav-link:hover {
	color: #F0712A;
}

/* .navbar {
	background: rgba(0, 0, 0, 0.5) !important;
	transition: background-color 1s ease 0s;
}
 */
.firstT {
	color: #F0712A;
}

/* End of Navigation */

/* main container */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


/* img hover effect */
.imgwrapper {
	overflow: hidden;
}

.imgwrapper img {
	transition: all 500ms;
}

.imgwrapper:hover img {
	transform: scale(1.1);
}
/* end of img hover effect */


/* Carousel */
.herocarousel {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


.herocarousel .carousel-inner {
	height: 70vh;
	overflow: visible;
}

.herocarousel .carousel-item {
	height: 100vh;
}

.herocarousel .carouselImg {
	position: relative;
	width: 100%;
	min-height: 80vh;
	max-height: 80vh;
	object-fit: cover;
	background: linear-gradient(180deg, rgba(15,17,12,0) 0%, rgba(15,17,12,1) 100%);

}

.herocarousel .carousel-item::after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 80vh;
	position: absolute;
	top: 1px;
	left: 0;
	background: linear-gradient(180deg, rgba(15,17,12,0) 0%, rgba(15,17,12,1) 100%);
	z-index: 0;
}

.herocarousel .carousel-caption {
	position: absolute;
	border-radius: 20px;
    background: #F08128;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.herocarousel .bookTitle {
	color: #fff !important;
	font-family: 'Crimson Text', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 25px;
}

.herocarousel .bookSypnosis {
	font-size: 14px;
	letter-spacing: 1px;
}

/* End of Carousel */

/* Cards */
.card {
	border: 0 none;
    /* background-color: #0f110c; */
    background-color: transparent;
}

.card-img-top {
	border-radius: calc(0.5rem - 1px);
}

.card-body {
	color: #F8F8FF;
	padding-top: 0.5rem;
	padding-left: 0;
}


.card-title {
	font-weight: 700;
	font-size: 16px;
}

/* End of Cards */

/* Popular Novel */

.popularnovels-title{
    color: #ff9e00;
    margin-bottom: 1.5rem;
}

.popular-cardimg {
    min-height: 35vh;
    object-fit: cover;
}

#carouselpopular {
    overflow: hidden;
}


/* End of Popular Novel */

/* Author Features */
.authorfeatures-containerfluid {
    background: linear-gradient(to right bottom, rgb(255, 72, 0, 0.8), rgb(255, 182, 0, 0.8)),
                url(../images/vipfeature.jpg);
    background-size: cover;
    height: 110vh;
    /* transform: skewY(5deg); */
}
.authorfeatures-containerrow {
    min-height: 100%;
    /* transform: skewY(-5deg); */
}

.authorfeatures-container {
    
}

.authorfeatures-row {
    margin-top: 2rem;
}

.col-authorfeaturecard {
}

.authorfeatures-containerrow .card-body {
    padding-left: .5rem;
    padding-right: .5rem;
}

.btn:hover {
	letter-spacing: 1px;
	color: #fff;
	background-color: #ff4800;
	transition: background-color 500ms;
}

.btn {
    /* background-color: #9D4EDD; */
    border: 1px solid #fff;
	padding: 5px;
    width: 300px;
    font-weight: 700;
	color: #ff4800;
    background-color: #fff; 
    text-transform: uppercase;
	transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0,0,0,.2);
    margin-top: 2rem;
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgb(0,0,0,.2);
}

#subscribeButtonContainer {
    margin-top: 0;
}

/* End of Author Features */

/* New Novel Releases */
.newnoveltitle {
    color: #ff9e00;
    margin-bottom: 1.5rem;
}
/* End of New Novel Releases */


/* Footer */
.footer {
	background-color: #ff4800;
} 
/* End of Footer */

/* Media Query */
/* extra small screens */


/* medium screens */
@media only screen and (min-width: 768px) {
	.herocarousel .bookTitle {
		letter-spacing: .2rem;
		font-size: 35px;
	}

	.herocarousel .bookSypnosis {
		font-size: 16px;
		letter-spacing: 0.10rem;
	}

	.herocarousel .carousel-caption {
		bottom: 50px;
    }
    
    #subscribeButtonContainer {
        margin-top: 5rem;
    }

    .authorfeatures-containerfluid {
        height: 85vh;
    }

    .card-title {
        font-size: 20px;
    }
}

/* large screens */
@media only screen and (min-width: 992px) {
	.herocarousel .bookTitle {
		letter-spacing: .2rem;
		font-size: 40px;
	}

	.herocarousel .bookSypnosis {
		font-size: 16px;
		letter-spacing: 0.10rem;
	}

	.herocarousel .carousel-caption {
		bottom: 20px;
    }
    

}

/* extra large screens */
@media only screen and (min-width: 1200px) {
	.herocarousel .bookTitle {
		letter-spacing: .2rem;
		font-size: 50px;
	}

	.herocarousel .bookSypnosis {
		font-size: 21px;
		letter-spacing: 0.10rem;
	}

	.herocarousel .carousel-caption {
		bottom: 50px;
	}
}


@media only screen and (max-width: 767px) {
    .footercopyright {
        font-size: 12px;
        padding: 0;
    }
}




