* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: 'Lora', sans-serif;
}

html, body {
	width: 100%;
	overflow:  auto;
	scroll-behavior: smooth;

}

body {

}

/*Landing*/
#jumbotron-section {
}

#jumbo-landing {
	height: 100vh !important;
	padding: 0;

	background: 
		linear-gradient(135deg, rgba(255,72,0,0.7) 0%, rgba(255,182,0,0.7) 100%),
	  	url(../images/landingpage2.jpg);	
 	background-size: cover;
	background-position: top;
	background-repeat: no-repeat; 
	border-radius: 0;
}

.container {
	height: 100vh;
}

.imagelogo {
	width: 200px;
	height: 20vh;	
}

.landingcontent {
	height: 100vh;	
}

img {
	width: 60%;
}

.jumbotron h1 {
	color: #f2f2f2;
}

.jumbotron hr {
	background-color: #fff;
}

.colimg {
	height: 35vh;
}

.col-12 {
}

.colcontent {
	height: 60vh;
}

.btn:hover {
	letter-spacing: 1px;
	color: #fff;
	background-color: #ff4800;
	transition: background-color 500ms;
}

.btn {
    /* background-color: #9D4EDD; */
    border: 1px solid #fff;
	padding: 5px;
    width: 300px;
    font-weight: 700;
	color: #ff4800;
    background-color: #fff; 
    text-transform: uppercase;
	transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0,0,0,.2);
    margin-top: 2rem;
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgb(0,0,0,.2);
}


h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.h1start {
	font-size: 3.2rem !important;
}



@media only screen and (min-width: 576px) {
	img {
		width: 50%;
	}

	
} 

@media only screen and (min-width: 768px){
	img {
		width: 40%;
	}

	.colcontent {
		padding-top: 2rem;
	}

	.colimg {
		margin-top: 5rem !important;
	}

	
}

@media only screen and (min-width: 992px){
	img {
		width: 30%;
	}
	.colcontent {
		padding-top: 4rem;
		height: 40vh;
	}

	.colimg {
		margin-top: 5rem !important;
		height: 30vh;
	}
}