* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #0f110c;
}

/* Navigation */
.navbar {
	font-size: ;
	font-weight: 700;
    letter-spacing: 0.10rem;
}

#topnav {
    transition: background-color 300ms;
}

#topnav.solid {
    background: rgba(0,0,0,0.9);
    transition: background-color 300ms;
}


.nav-item {
	text-transform: uppercase;
}

#burgerImg {
	font-size: 18px;
	color: #fff;
}

.navbar-brand img {
	max-width: 50px;
}

.navbar-nav {
	padding-right: ;
}

.nav-link{
	color: #fff;
}

.nav-link.active, .nav-link:hover {
	color: #F0712A;
}

/* .navbar {
	background: rgba(0, 0, 0, 0.5) !important;
	transition: background-color 1s ease 0s;
}
 */
.firstT {
	color: #F0712A;
}

/* End of Navigation */

/* Subscribe */
.container {
    padding-top: 4rem;
}

.titlecontent {
    color: #fff;
}

.card {
    perspective: 150rem;
    position: relative;
    height: 600px;
    background-color: transparent;
}

.card-side {
    color: #000;
    font-size: 2rem;
    height: 600px;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
}

.card-side-front {
    background-color: #fff;
}

.card-side-back {
    color: #fff;
    transform: rotateY(180deg);
}

.card:hover .card-side-front {
    transform: rotateY(180deg);
}

.card:hover .card-side-back {
    transform: rotateY(0);
}

img {
    min-height: 39.67%;
    max-height: 39.67%;
}

.cardfront1 img {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.cardfront2 img {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.cardfront3 img {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.cardfront3::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 39.67%;
    background: linear-gradient(to right bottom, rgba(255,96,0,0.6), rgba(255,133,0,0.7));
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.cardfront2::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 39.67%;
    background: linear-gradient(to right bottom, rgba(47, 191, 113,0.6), rgba(140,216,103,0.7));
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.cardfront1::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 39.67%;
    background: linear-gradient(to right bottom, rgba(0,119,182,0.6), rgba(0,180,216,0.7));
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.card-side-back h1 {
    font-size: 4rem;
}

.cardback1 {
    background: linear-gradient(to right bottom, rgba(0,119,182,0.6), rgba(0,180,216,0.7));
}

.cardback2 {
    background: linear-gradient(to right bottom, rgba(47, 191, 113,0.6), rgba(140,216,103,0.7));
}

.cardback3 {
    background: linear-gradient(to right bottom, rgba(255,96,0,0.6), rgba(255,133,0,0.7));
}

.card-text {
    font-size: 1.2rem;
}


.btn-disciple:hover {
	letter-spacing: 1px;
	color: #fff;
	background-color: #0077b6;
	transition: background-color 500ms;
}

.btn-disciple {
	color: #0077b6;
    background-color: #fff; 
}

.btn-disciple:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgb(0,0,0,.2);
}

.btn-master:hover {
	letter-spacing: 1px;
	color: #fff;
	background-color: #245501;
	transition: background-color 500ms;
}

.btn-master {
    /* background-color: #9D4EDD; */
	color: #245501;
    background-color: #fff; 
}

.btn-master:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgb(0,0,0,.2);
}

.btn-grandmaster:hover {
	letter-spacing: 1px;
	color: #fff;
	background-color: #ff6d00;
	transition: background-color 500ms;
}

.btn-grandmaster {
	color: #ff6d00;
    background-color: #fff; 
}

.btn-grandmaster:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgb(0,0,0,.2);
}

.btn {
    /* background-color: #9D4EDD; */
    border: 1px solid #fff;
	padding: 5px;
    width: 200px;
    font-weight: 700;
    text-transform: uppercase;
	transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0,0,0,.2);
    margin-top: 2rem;
}

/* End of Subscribe */


/* Footer */
.footer {
	background-color: #ff4800;
} 
/* End of Footer */


@media only screen and (max-width: 350px) {
    .footercopyright {
        font-size: 12px;
		padding: 0;
		
    }
    
    .cardmaster, .cardgrandmaster {
        margin-top: 1rem;
    }
    .cardmaster > .card-side, .cardmaster, .cardgrandmaster > .card-side, .cardgrandmaster {
        height: 700px;
    }

    .cardgrandmaster .card-title {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 767px) {
    .footercopyright {
        font-size: 12px;
		padding: 0;
		
    }

    .cardmaster, .cardgrandmaster {
        margin-top: 1rem;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        height: 100vh;
    }

    .card-side {
        height:  620px;
    }

    .card-title {
        font-size: 2.2rem;
    }

    .card-text {
    font-size: 1.1rem;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) and (max-height: 735px) and (min-height: 650px) {
    .container {
        height: 110vh;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1199px) and (max-height: 650px) and (min-height: 545px) {
    .container {
        height: 130vh;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) and (max-height: 544px) {
    .container {
        height: 200vh;
    }

}
